body {
  background-color: cyan;
  padding: 0;
  margin: 0;
}
#hexworld {
  margin: 50px;
}
/* Hexes Based on http://jsfiddle.net/mqyCb/154/ */
.unit {
  position: absolute;
  left: 0px;
  top: 0px;
}
.unit.selected {
  border: 2px dashed white;
}
.unit > .inner {
  background-color: pink;
  width: 15px;
  height: 25.9807621134px;
  margin: 3px;
}
.hexrow {
  white-space: nowrap;
  /*right/left margin set at (( width of child div x sin(30) ) / 2) 
    makes a fairly tight fit; a 3px bottom seems to match*/

  margin: -4.2px 7.5px;
}
.hexrow > div.hex {
  width: 30px;
  height: 51.9615242268px;
  /* ( width x cos(30) ) x 2 */

  /* For margin:
    right/left = ( width x sin(30) ) makes no overlap 
    right/left = (( width x sin(30) ) / 2) leaves a narrow separation
    */

  margin: 0 7.5px;
  position: relative;
  background-position: -15px 0;
  /* -left position -1 x width x sin(30) */

  background-repeat: no-repeat;
  background-size: auto 120%;
  color: #000000;
  text-align: center;
  line-height: 51.9615242268px;
  /*equals height*/

  display: inline-block;
}
.hexrow > div.hex:nth-child(odd) {
  top: 12.9903810567px;
  /* ( width x cos(30) / 2 ) */

}
.hexrow > div.hex:nth-child(even) {
  top: -12.9903810567px;
  /* -1 x( ( width x cos(30) / 2) + (hexrow bottom margin / 2)) */
}
.hexrow > div.hex > div.hex-part.hex-part-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  background-image: inherit;
  -ms-transform: rotate(60deg);
  /* IE 9 */

  -moz-transform: rotate(60deg);
  /* Firefox */

  -webkit-transform: rotate(60deg);
  /* Safari and Chrome */

  -o-transform: rotate(60deg);
  /* Opera */

  transform: rotate(60deg);
}
.hexrow > div.hex > div.hex-part.hex-part-1:before {
  content: '';
  position: absolute;
  width: 60px;
  /* width of main + margin sizing */

  height: 100%;
  background-image: inherit;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: auto 120%;
  bottom: 0;
  left: 0;
  z-index: 1;
  -ms-transform: rotate(-60deg) translate(-150px, 0);
  /* IE 9 */

  -moz-transform: rotate(-60deg) translate(-150px, 0);
  /* Firefox */

  -webkit-transform: rotate(-60deg) translate(-150px, 0);
  /* Safari and Chrome */

  -o-transform: rotate(-60deg) translate(-150px, 0);
  /* Opera */

  transform: rotate(-60deg) translate(-150px, 0);
  -ms-transform-origin: 0 0;
  /* IE 9 */

  -webkit-transform-origin: 0 0;
  /* Safari and Chrome */

  -moz-transform-origin: 0 0;
  /* Firefox */

  -o-transform-origin: 0 0;
  /* Opera */

  transform-origin: 0 0;
}
.hexrow > div.hex > div.hex-part.hex-part-2 {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  overflow: hidden;
  background-image: inherit;
  -ms-transform: rotate(-60deg);
  /* IE 9 */

  -moz-transform: rotate(-60deg);
  /* Firefox */

  -webkit-transform: rotate(-60deg);
  /* Safari and Chrome */

  -o-transform: rotate(-60deg);
  /* Opera */

  transform: rotate(-60deg);
}
.hexrow > div.hex > div.hex-part.hex-part-2:before {
  content: '';
  position: absolute;
  width: 60px;
  /* starting width + margin sizing */

  height: 100%;
  background-image: inherit;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: auto 120%;
  bottom: 0;
  left: 0;
  z-index: 1;
  /*translate properties are initial width (100px) and half height (173.2 / 2 = 86.6) */

  -ms-transform: rotate(60deg) translate(30px, 25.9807621134px);
  /* IE 9 */

  -moz-transform: rotate(60deg) translate(30px, 25.9807621134px);
  /* Firefox */

  -webkit-transform: rotate(60deg) translate(30px, 25.9807621134px);
  /* Safari and Chrome */

  -o-transform: rotate(60deg) translate(30px, 25.9807621134px);
  /* Opera */

  transform: rotate(60deg) translate(30px, 25.9807621134px);
  -ms-transform-origin: 100% 0;
  /* IE 9 */

  -webkit-transform-origin: 100% 0;
  /* Safari and Chrome */

  -moz-transform-origin: 100% 0;
  /* Firefox */

  -o-transform-origin: 100% 0;
  /* Opera */

  transform-origin: 100% 0;
}
.hexrow > div.hex > span {
  display: inline-block;
  margin: 0 0;
  line-height: 1.1;
  vertical-align: middle;
  white-space: normal;
}
.hex {
  background-color: #ffa500;
}
.hex > div.hex-part {
  background-color: #ffa500;
}
.hex.grass {
  background-color: #008000;
}
.hex.grass > div.hex-part {
  background-color: #008000;
}
.hex.root {
  background-color: #800080;
}
.hex.root > div.hex-part {
  background-color: #800080;
}
